@import url(./reset.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Roboto', sans-serif;
}
a{
    color:#000;
    text-decoration: none;
   
}
button{
    cursor: pointer;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 100vh;
    transform: scale(0);
}

.overlay-active{
    transform: scale(0);
}
.fa-xmark{
    color: #fff;
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: 2rem;
    cursor: pointer;
}

.overlay-navlinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
} 

.overlay-navlinks a{
    font-size: 3rem;
    color: #bbb;
}
.overlay-navlinks a:hover{
    color: #fff ;
    transition: .8s ease;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 65px;
}

.navlinks a{
    padding: 22px;
}

.fa-bars{
    display: none;
   
}

.introduction-sector{
    display: flex;
    justify-content: space-between;
    padding: 0 4.03rem;
}

.in-left-sector{
    padding-top:6.4rem  ;
}

.in-right-sector{
   padding-top:3.12rem ;  
}

.in-right-sector img{
    width: 100%;
}

.introduction-sector h1{
    font-size: 72px;
    font-weight: 700;
}

.introduction-sector span{
    color: #FF8A56;
}

.in-left-sector small{
    font-size: 22px;
    font-weight: 400;
    color:  #666666;
}


.in-buttons{
    display: flex;
    padding-top: 38px;
}

.trusting{
   padding-top: 5rem;
   text-align: center;
}

.trusting .assistant-organizations{
    display: flex;
    justify-content: center;
}

.organization{
    padding: 35px;
}

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 7.5rem;
}

.service-bottom{
    
    display: flex;
    padding-top: 5rem;
 
    
}
/* .apps{
    padding-right: 10px !important;
} */

.service-inform{
    padding: 80px;
    padding-right: 15px; 
}

 .service-bottom ul{
    list-style-type: square;
    list-style-position: inside;
    font-weight: 700;
    font-size: 16px;
} 

.services small{
    color: #FF5E69;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 4px;
    text-align: center;  
}

.services h4{
   font-size: 54px;
   font-weight: 700;
   letter-spacing: 1.2px;
   text-align: center;
   padding-top: 20px;
}

.service-bottom h2{
    font-size: 24px;
    font-weight: 700;
    padding-top: 35px;
}


.service-bottom p{
    color: #666666;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 25px;
}


.project-top{
    display: flex;
    justify-content: space-between;
    padding: 7rem 4rem;
}
.project-top button{
    color: #fff;
    background-color: black; 
    width: 200px; 
    height: 58px; 
    font-weight: 400;
    font-size: 18px;
}

.project-text small{
    color: #B16CEA;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 4px;
    padding-bottom: 20px;
    display: flex;
    padding-bottom: 20px;
}

.project-text h3{
    font-weight: 700;
    font-size: 54px;
    letter-spacing: 1px;   
}

.box-sector{
    display: flex;
    justify-content: space-between; 
    padding: 0 60px ;
   gap: 20px;  
}

.box-sector .project-box{
    width: 380px;
    height: 380px;
   
}

.project-box .project-box-top{
    width: inherit;
    height: 251px;
    
}
 .project-box .project-box-top img{
    width: 100%;
    height: 100%;
} 
.project-box .project-box-bottom{
    height: 120px;
    background-color: #fff;
   display: flex;
   flex-direction: column;
   padding: 20px;

}

.project-box-bottom small{
    color: #3C46FF;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 4px;
    padding-bottom: 15px;
}
.project-box-bottom p{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 15px;
}



.blogs{
    display: flex;
    background-color: #000;
    color: #fff;
    padding: 15rem 3.8rem;
    margin-top:-130px;
}

.blogs a{
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    padding-top: 35px;
}
.rightside-blog .design small{
    font-size: 15px;
    color:  rgba(255, 255, 255, 0.7);
}


.leftside-blog small{
    color: #FFA84B;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 4px;
    padding-bottom: 20px;
}



.leftside-blog{
display: flex;
flex-direction: column;
}
.rightside-blog p{
    font-size: 26px;
    font-weight: 700;
    padding: 30px 0 40px 0;
}

.rightside-blog{
    padding: 0  10rem;
}

.design{
    border-bottom: 1px solid #666666;
    padding: 2.5rem 2.5rem 2.5rem 0;
}


.example{
    padding-top: 9.60rem;
    padding-left: 2rem ;
    padding-right: 2rem;
    padding-bottom: 3rem;
}


.example-text{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5rem;
}
.extext-left small{
    color: #FF5E69;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 4px;
    
    
}

.extext-left h5{
    font-size: 48px;
    font-weight: 700;
    padding-top: 15px;
}
.extext-right p{
    font-size: 20px;
    font-weight: 400;
    color: #666666;
    line-height: 30px;
    padding-top: 5px;
    padding-right: 25px;
    
}

.example-picture{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-picture{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.education-work{
    display: flex;
    padding: 100px 50px;
   
  
}
.education-sector{
    flex-basis: 50%;
    padding-right: 50px;
}


.edu-top{
    padding-bottom: 3rem;
    padding-left: 0rem;
    font-size: 36px;
}
.work-top{
    padding-bottom: 3rem;
    font-size: 36px;
}
.work-sector{
    flex: 1;
   
}

.university{
    border-bottom: 1px solid  #E5E5E5;
    display: flex;
    flex-direction: column;
    padding-bottom: 45px;
}
.uni-top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 9px;
}
.uni-top h3{
    font-weight: 700;
    font-size: 24px;  
}
.uni-bottom{
    display: flex;
    justify-content: space-between;
}

.uni-bottom small{
    font-weight: 400;
    font-size: 16px;
    color: #8A95AD;
}
.uni-bottom .metadata{
    margin-right: 40px;
    color: #8A95AD;
}
.edu-bottom h3 {
    font-size: 24px;
    padding-bottom: 8px;
    padding-top: 25px;
}
.work-info{
    border-bottom: 1px solid  #E5E5E5;
    display: flex;
    padding-bottom: 45px;
    
}
.work{
    width: 100%;
}
.work .metadata{
    margin-right: 55px;
}
.work-info img{
    padding-right: 25px;
}
.work-bottom{
    display: flex;
    flex-direction: column;
}
.work-bottom h3 {
    font-size: 24px;
    padding-bottom: 8px;
    padding-top: 25px;
}

.work-info-top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 9px;
}
.work-info-top h3{
    font-weight: 700;
    font-size: 24px;
}
.work-info-bottom{
    display: flex;
    color: #8A95AD;
    justify-content: space-between;
}







.recommendation{
   padding: 1.5rem 2.8rem 7rem ;
}
.recommendation-top h5{
    font: size 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #4353FF;
    letter-spacing: 4px;
    padding-bottom: 1rem;
}




.recommendation-top p{
    font-size: 54px;
    letter-spacing: 1px;
    font-weight: 700;
    padding-bottom: 5rem;
}
.recommendation-bottom{
    display: flex;
    justify-content: space-between;
   
    
}
.left-suggestion{
    flex-basis: 45%;
}

.right-suggestion{
    flex: 1;
  display: flex;
  flex-direction: column;
  justify-content:space-between ;padding-left: 5rem;
}

.rightsuggestion-bottom{
    display: flex;
    justify-content:space-between ;
}
.rightsuggestion-bottom .right{
    cursor: pointer;
}

.questions{
    background-color: #000;
    color: #fff;
    
}

.questions-top h2{
    text-align: center;
    color: #FF8A56;
    letter-spacing: 4px;
    font-size: 22px;
    font-weight: 700;
    padding-top: 70px;
    padding-bottom: 20px;
}
.questions-top p{
    text-align: center;
    font-size: 40px;
    letter-spacing: 1px;
    padding-bottom: 100px;
}

.questions a{
    color: #fff;
    font-size: 16px;
    padding-right:30px;
}
.questions-bottom{
    display: flex;
    justify-content: space-between;
}

.interest{
    border-bottom: 1px solid #E5E5E54D;
    padding: 40px 0px;
    
    display: flex; 
    justify-content:space-between
}

.questions-left{
    margin-left: 70px;
    flex-basis: 40%;
}
.questions-right{
    margin-right: 70px;
    flex-basis: 40%;
}



footer{
    background-color: #000;
    color: #fff;
    padding-top: 160px;
    padding-left: 60px;
    padding-right: 85px;
}

.middle-left h4{
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    color: #666666;
}
.conclusion-top h3{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    padding-bottom: 8px;
}

.conclusion-top p{
    color: #3C46FF;
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 90px;
}
.middle-right{
    display: flex;
}
.middle-right a{
    color: #fff;
    padding: 15px;
}

.conclusion-middle{
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
}
.footer-links1{
    display: flex;
    flex-direction: column;
}

.footer-links2{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}
.footer-links3{
    display: flex;
    flex-direction: column;
}

.conclusion-bottom {
    display: flex;
    justify-content: space-between;
    
    color:#8A95AD;
}
.conclusion-bottom a{
    color: #8A95AD;
    padding-bottom: 5px;
}


@media(min-width:500px) and (max-width:864px){
    
    .assistant-organizations{
        margin-left: 0px;
    }
   
    .services h4{
        font-size: 16px;
    }
    .service-bottom{
        flex-direction: column;
        align-items: center;
    }
    .service-inform{
        padding-left: 0;
        margin: auto 0;
    }
    .apps{
        padding-bottom: 0px;
        padding-left: 28px;
    }
    .box-sector{
        display: flex;
        flex-direction: column;
        align-items: center;padding-left: 0px;
        padding-right: 0px;
    }
    
    .project-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0px 80px 0px ;
        
    }
    .projects h3{
        font-size: 20px;
    }

    .blogs{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
       
    }
    .rightside-blog{
        padding-left: 0px;
        padding-right: 0px;
    }

    .rightside-blog p{
        font-size: 16px;
    }
    .rightside-blog small{
        font-size: 12px;
        
    }
    .design{
        padding-right: 0px;
    }

   
    .example{
        padding-left: 0px;
        padding-right: 0px;
        align-content: center;
    }

    .example-text{
        flex-direction: column;
        align-items: center;
       
    }
    .extext-right{
        padding:0;
        font-size: 20px;

    }
    .extext-right p{
        font-size: 16px;
        padding: 10px 17px 0px;
    }
    .example-picture{
        flex-direction: column;
        align-items: center;
       
    }
    .middle-picture img{
        width: 338px;
        height: 455px;
       
    }
   
    .rightpic-top{
        padding-bottom: 1.5rem;
    }

    .education-work{
        flex-direction: column;
        align-items: center;
        padding: 0px;
        padding-top: 45px;
        padding-bottom: 45px;
        
    }
    .work-top{
        padding-top: 50px;
    }
    
    .education-sector{
       
        padding-left: 15px;
        padding-bottom: 20px;
        
    }
   
    .recommendation{
        padding: 0px;
        padding-top: 45px;
        
    }
    .right-suggestion{
        align-items: center;
    }
    .quotation{
        padding-right: 50px;
    }

    .rightsuggestion-top p{
        font-size: 28px !important;
        padding-top: 25px;
    }
    .recommendation-bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .rightsuggestion-bottom{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
     .left-suggestion img{
        width: 400px;
        height: 300px;
     }
     .right-suggestion{
        padding-left: 0;
     }
     .recommendation-top h5{
        text-align: center;
     }
    .recommendation-top p{
        text-align: center;
    }
    .left{
        padding-top: 20px;
    }
    .right{
        padding-top: 10px;
    }

    .questions-bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .questions-right{
        padding-left: 111px;
    }
    .questions-right {
        margin-right: 42px;
    }
   .middle-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
   }
   .conclusion-middle{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
   
   }
   .conclusion-top h3{
    font-size: 30px;
   }

   footer{
    padding-left: 0px;
    padding-right: 0px;
   }
   .footer-links1{
    padding-right: 12px;

   }
   .conclusion-top{
    padding-left: 15px;
   }
    .conclusion-top p{
        font-size: 30px;
    }

   .conclusion-bottom{
    flex-direction: column;
    align-items: center;
    
   }
   
   .conclusion-bottom div{
    padding-bottom: 8px;
   }
}

@media(min-width:500px) and (max-width:768px){

    .in-left-sector h1{
        
        font-size:2.1rem
    }
    .in-left-sector small{
        font-size: 1rem;
    }
    .introduction-sector{
        flex-direction: column;
        padding: 0;
        align-items: center;
    }

    .assistant-organizations .organization:nth-child(odd){
        display: none;
        
    }
}



@media(max-width:1274px) and (min-width:773px){
    .introduction-sector{
        flex-direction: column;
    }
    .in-left-sector h1{
        font: size 2.4rem;
    }

    .box-sector{
        display: flex;
        flex-direction: column;
    }

    .example-text{
        flex-direction: column;
        align-items: center;
    }
    .middle-picture{
        display: none;
    }
}

@media( max-width:768px){
    .header{
        padding: 20px;
    }
    .navlinks{
        display: none;
    }
    .fa-bars{
        display: flex;
        cursor: pointer;
    }
   
}





